html{
    margin: 0px;
    padding: 0px;
}
a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

body{
    margin: 0;
    margin-left: 10em;
    margin-right: 10em;
}

/* Untuk navBar */

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0px 1px 0px 0px black;
}

.nav-logo img{
    padding: 5px;
    width: 200px;
}

.nav-menu{
    display: flex;
    align-items: center;
    align-content: end;
    list-style: none;
    gap: 30px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background: black;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-login-cart button{
    width: 90px;
    height: 35px;
    outline: none;
    border: 1px solid black;
    color: black;
    font-size: 16px;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

.nav-login-cart img{
    width: 35px;
}

/* Untuk searchForm */


.searchForm{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.searchForm button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.searchForm img{
    width: 20px;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.formContainer input{
    width: 50em;
    height: 30px;
    margin-left: 15px;
    margin-right: 10px;
    border: 2px solid black;
}

/* ItemBar */

.itemBar{
    margin-bottom: 5px;
    padding: 0px;
    font-style: italic;
    font-size: 21px;
    box-shadow: 0px 2px 0px 0px black;
  }
  
  .itemBar p{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
  }

.loginBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.userLogin{
    display: flex;
    flex-direction: column;
}

.profilePage{
    display: flex;
    flex-direction: row;
}

.profileContainer{
    border: 2px solid black;
    display: flex;
    width: 300px;
    height: 300px;
    margin-right: 25px;
}

.profileContainer img{
    width: 300px;
    height: 300px;
}

.showProfile{
    justify-content: center;
}

.productContainer{
    display: flex;
    flex-direction: row;
}

.productCard{
    border: 2px solid black;
    display: flex;
    align-self: center;
    width: 318px;
    height: 318px;
    margin-right: 25px;
}

.productCard img{
    width: 300px;
    height: 300px;
}

.productDetail{
    display: flex;
    flex-direction: row;
}

.productDetailCard{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 0px;
    margin-top: 15px;
    margin-right: 5px;
}

.productInfo{
    display: flex;
    flex-direction: column;
}

.productInfo h2{
    margin: 0px;
}

.productInfo hr{
    margin-top: 10px;
    width: 500px;
}

.productUnder{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.productUnder p{
    margin: 0px;
    margin-right: 5px;
}

.productPriceStock{
    margin-bottom: 25px;
}

.productPriceStock h3{
    margin: 0px;
    padding: 0px;
    margin-bottom: 5px;
}

.productButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
}

.productButtons button{
    margin-right: 10px;
}

.cartContainer{
    display: flex;
    flex-direction: column;
}

.cartContainer hr{
    border: 1px solid black;
}

.cartTitle h1{
    margin: 0px;
}

.checkAllButton{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkAllButton a {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.checkAllButton img {
    width: 15px;
    height: 15px;
    margin-right: 5px; /* Adjust margin as needed */
}

.checkAllButton p{
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cartContentLabel{
    display: flex;
    flex-direction: row;
}

.checkBtn {
    align-self: center;
    margin-right: 10px
}

.checkBtn img{
    width: 15px;
    height: auto;
}

.checkBtn button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.cartCard {
    box-sizing: border-box; 
    align-items: center;
    width: 70rem;
    margin-right: 20px;
}

.cartProduct {
    display: flex;
    align-items: center;
    border: 2px solid black;
}

.cartImg img{
    margin: 15px;
    border: 2px solid black;
}

.cartProductInfo {
    margin-left: 10px;
}

.cartProductInfo p{
    margin: 0;
    margin-top: 5px;
}

.cartExtra {
    margin-right: 15px;
    margin-top: auto;
    margin-left: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
}

.cardCheckout {
    border: 2px solid black;
    margin-left: auto;
    margin-bottom: auto;
    text-align: center;
}

.cardCheckout h1 {
    margin-left: 100px;
    margin-right: 100px;
}

.checkoutUser{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.checkoutUser p{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.checkoutDescTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.checkoutDescTop p{
    margin-bottom: 5px;
}

.checkoutLine hr{
    border: none;
    border-top: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.checkoutDescBot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.checkoutBtn button{
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 20px;
}

.adminTitle hr{
    border: none;
    border-top: 2px solid black;
}

.adminTitle h2{
    margin: 0px;
    margin-bottom: 5px;
}

.adminContainer{
    display: flex;
}

.adminItem{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminItem p{
    margin: 0;
}

.adminBox{
    border: 2px solid black;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.successTitle hr{
    border: none;
    border-top: 2px solid black;
}

.successTitle h2{
    margin: 0px;
    margin-bottom: 5px;
}

.successBack{
    display: flex;
}

.listTitle hr{
    border: none;
    border-top: 2px solid black;
}

.listTitle h1{
    margin: 0;
}

.listCard{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    padding: 10px;
    padding-top: 0px;
}

.listBar hr{
    border: none;
    border-top: 2px solid black;
}

.listProduct{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}

.listTab{
    display: flex;
    flex-direction: row;
    width: 110px;
    border: 2px solid black;
    margin-bottom: 10px;
}

.listTab p{
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.listTab img{
    width: 15px;
    height: auto;
}

.listTab button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}